*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #1d1a1a;
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* full height */
    margin: 0;
  }
  

.login-container{
    width: 100%;
    max-width: 360px;
    height: 428px;
    border: 2px solid rgb(8, 8, 8);
    border-radius: 5px;
     display: block;
     justify-content: center;
     justify-items: center;
     /* background-image:  linear-gradient(to right , rgba(0,0,0,0.4), rgba(0,0,0,0.1)),linear-gradient(to left , rgba(0,0,0,0.4), rgba(0,0,0,0.1)),url("./bg\ image.jpg"); */
     background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('./bg\ image.jpg');
     background-size: cover;
        background-position: center;
     margin-bottom: 200px;
  
    }
 
img{
    height: 50px;
    width: 70px;
  margin-top: 30px;
}

h1{
    /* color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.6); */
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    margin-top: 20px;
    width: 1000px;
    text-shadow: 1px 1px 2px black;
color: #fff;

}
.input-group{
    display: flex;
  
    flex-direction: column;
  
    width: 100%;
 
}
.input-group label{
    font-size: 22px;
    font-weight: 500;
    color: #eee;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.6);
    margin-top: 20px;
   
    
}
.input-group input{
    width: 300px;
    height: 33px;
    padding: 10px;
    border-radius: 6px;
    border: 2px solid #ccc;
    font-size: 16px;
    margin-top: 5px;
    background-color: #ded6d6;
    
}
button{
    width: 250px;
    height: 30px;
    background-color: #fb4811;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 30px;
    /* transition: background-color 0.3s ease; */
}
button:hover{
    background-color: #f37958;
}

p{
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
    text-shadow: 1px 1px 2px black;
}
.footer-content{
   width: 360px;
    height: 18px;
    position: absolute;
 
    left: 38%;
    color: #ffffff;
    display: flex;
    justify-content: center;
    gap: 10px;
    bottom: 200px;
}
.footer-content2{
    width: 360px;
     height: 18px;
     position: absolute;
  bottom: 160px;
  left: 38%;
  background-image: url("./zerodha-sub\ logo1.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 10px;
}

.footer-content3 p {
   
    width: 360px;
     height: 18px;
     position: absolute;
  bottom: 120px;
  left: 38%;
   
}
.footer-content4 p {
   
    width: 360px;
     height: 18px;
     position: absolute;
  bottom: 90px;
  left: 38%;
   font-size: 10px;
}